.cv{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;

}
.left{
  width:30%;
  height:100vh;
  background: black;
  color:white;
}
.right{
  width: 70%;
}
.photo{
  width:250px;
  height: 300px;
  left: calc(30% - 200px);
  position: absolute;
  top: 5%;
}
.FIO{
  display: flex;
  flex-direction: row;
  font-family: Arial;
  font-size: 40px;
  padding-top: 20px;
}
.Name{
  padding-left: 120px;
  font-weight: bold;
}
.Last{
  padding-left: 10px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
